In [2]:
import pandas

items = pandas.read_csv('items.csv', encoding='windows-1251')

c:\users\ilya sychev\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3,5,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(items.head())

   Сырье/Товар ID               Сырье/Товар Наименование    Группа Закупок  \
0         3071950          Конд/белья Lion Воздушный 720     Бытовая химия
1         3184297          Филе Индолина инд.охл.700г шт  Охлажденное мясо
2         3186437         Яйцо Окское куриное С1 бел.дес              Яйцо
3         3193219  Бедро Индолина инд.охл.Халяль 700г шт  Охлажденное мясо
4         3154351         Таблетки Claro д/ПММ 2020 25шт     Бытовая химия

  Товарная иерархия (уровень 2) ID Товарная иерархия (уровень 2) Наименование  \
0                           004002                    Стирка и уход за бельем
1                           001019                                Мясо, птица
2                           001009                                       Яйцо
3                           001019                                Мясо, птица
4                           004003                     Уборка и уход за домом

  Товарная иерархия (уровень 3) ID Товарная иерархия (уровень 3) Наименование  \
0                        004002007                        Средства для стирки
1                        001019004      Мясо птицы охлажденное и замороженное
2                        001009005                      Яйцо первой категории
3                        001019004      Мясо птицы охлажденное и замороженное
4                        004003006                        Средства для уборки

   Признак участия товара в акции SAP Акция SAP Вид акции  \
0                                   0                 NaN
1                                   0                 NaN
2                                   1    Регулярное промо
3                                   0                 NaN
4                                   0                 NaN

   Признак участия товара в акции сайта Акция сайта Вид акции  \
0                                   NaN                   NaN
1                                   NaN                   NaN
2                                   NaN                   NaN
3                                   NaN                   NaN
4                                   NaN                   NaN

   Признак отмененного заказа Дата создания заказа, дата Продажи в БЕИ  \
0                           0                 2015-02-06             5
1                           0                 2015-01-31            35
2                           0                 2015-01-31           383
3                           0                 2015-01-31            30
4                           0                 2015-01-31             4

  Выручка с НДС
0          1536
1       10345,4
2         24129
3        8523,9
4        1938,3

In [4]:
# group by товарная иерархия уровень 2, в пределах нее товары едят друг друга
v = items.columns.values
for i in range(len(v)):
    print(i, v[i])

0 Сырье/Товар ID
1 Сырье/Товар Наименование
2 Группа Закупок
3 Товарная иерархия (уровень 2) ID
4 Товарная иерархия (уровень 2) Наименование
5 Товарная иерархия (уровень 3) ID
6 Товарная иерархия (уровень 3) Наименование
7 Признак участия товара в акции SAP
8 Акция SAP Вид акции
9 Признак участия товара в акции сайта
10 Акция сайта Вид акции
11 Признак отмененного заказа
12 Дата создания заказа, дата
13 Продажи в БЕИ
14 Выручка с НДС

In [5]:
v = ['item_id', 'item_name', 'smth1', 'item_category_id', 'item_category_name', 'item_category_id_addon', 'item_category_name_addon', 'action1', 'action2', 'action3', 'action4', 'return', 
     'date', 'item_cnt_day', 'income']
items.columns = v

In [6]:
items_clear = items[['date', 'item_id', 'item_category_id', 'item_category_name', 'item_cnt_day']]

In [7]:
items_clear

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>item_id</th>
      <th>item_category_id</th>
      <th>item_category_name</th>
      <th>item_cnt_day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2015-02-06</td>
      <td>3071950</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2015-01-31</td>
      <td>3184297</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>35</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2015-01-31</td>
      <td>3186437</td>
      <td>001009</td>
      <td>Яйцо</td>
      <td>383</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2015-01-31</td>
      <td>3193219</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>30</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2015-01-31</td>
      <td>3154351</td>
      <td>004003</td>
      <td>Уборка и уход за домом</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2015-01-31</td>
      <td>3185186</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>12</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2015-01-31</td>
      <td>3197313</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2015-01-14</td>
      <td>3203662</td>
      <td>001009</td>
      <td>Яйцо</td>
      <td>179</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2015-01-14</td>
      <td>3152387</td>
      <td>#</td>
      <td>Не присвоено</td>
      <td>22</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2015-01-31</td>
      <td>3184317</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>22</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2015-01-31</td>
      <td>2003721</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>65,268</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2015-01-31</td>
      <td>2009339</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>29,406</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2015-01-05</td>
      <td>3186418</td>
      <td>001009</td>
      <td>Яйцо</td>
      <td>430</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2015-01-05</td>
      <td>3219938</td>
      <td>004003</td>
      <td>Уборка и уход за домом</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2015-01-05</td>
      <td>3208367</td>
      <td>001009</td>
      <td>Яйцо</td>
      <td>79</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2015-01-05</td>
      <td>3224637</td>
      <td>004003</td>
      <td>Уборка и уход за домом</td>
      <td>8</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2015-01-05</td>
      <td>3227930</td>
      <td>004003</td>
      <td>Уборка и уход за домом</td>
      <td>23</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2015-01-05</td>
      <td>3243291</td>
      <td>001009</td>
      <td>Яйцо</td>
      <td>30</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2015-01-05</td>
      <td>3145561</td>
      <td>002010</td>
      <td>Аксессуары для быт.техники, электроники</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2015-01-05</td>
      <td>3039167</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>9</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2015-01-05</td>
      <td>3145590</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>6</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2015-01-05</td>
      <td>3145614</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>3</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2015-01-05</td>
      <td>3062661</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>7</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2015-01-05</td>
      <td>3064866</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>7</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2015-01-06</td>
      <td>3186437</td>
      <td>001009</td>
      <td>Яйцо</td>
      <td>301</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2015-01-06</td>
      <td>2003437</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>73,55</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2015-01-06</td>
      <td>3052898</td>
      <td>004003</td>
      <td>Уборка и уход за домом</td>
      <td>28</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2015-01-06</td>
      <td>3064265</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2015-01-06</td>
      <td>3134391</td>
      <td>001009</td>
      <td>Яйцо</td>
      <td>178</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2015-01-06</td>
      <td>3063164</td>
      <td>004003</td>
      <td>Уборка и уход за домом</td>
      <td>3</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1669579</th>
      <td>2017-12-31</td>
      <td>2003635</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>2,862</td>
    </tr>
    <tr>
      <th>1669580</th>
      <td>2017-12-31</td>
      <td>3320585</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1669581</th>
      <td>2017-12-31</td>
      <td>3251825</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1669582</th>
      <td>2017-12-31</td>
      <td>3251740</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1669583</th>
      <td>2017-12-31</td>
      <td>3256067</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1669584</th>
      <td>2017-12-31</td>
      <td>3255251</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1669585</th>
      <td>2017-12-31</td>
      <td>3306079</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1669586</th>
      <td>2017-12-31</td>
      <td>2008184</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1,066</td>
    </tr>
    <tr>
      <th>1669587</th>
      <td>2017-12-31</td>
      <td>2013202</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>0,8</td>
    </tr>
    <tr>
      <th>1669588</th>
      <td>2017-12-31</td>
      <td>2008269</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>0,612</td>
    </tr>
    <tr>
      <th>1669589</th>
      <td>2017-12-31</td>
      <td>2013491</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>0,498</td>
    </tr>
    <tr>
      <th>1669590</th>
      <td>2017-12-31</td>
      <td>2008167</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1,302</td>
    </tr>
    <tr>
      <th>1669591</th>
      <td>2017-12-31</td>
      <td>3184280</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1669592</th>
      <td>2017-12-31</td>
      <td>2012678</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>2,068</td>
    </tr>
    <tr>
      <th>1669593</th>
      <td>2017-12-31</td>
      <td>2012505</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>6,904</td>
    </tr>
    <tr>
      <th>1669594</th>
      <td>2017-12-31</td>
      <td>2003707</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>3,57</td>
    </tr>
    <tr>
      <th>1669595</th>
      <td>2017-12-31</td>
      <td>2013582</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>0,564</td>
    </tr>
    <tr>
      <th>1669596</th>
      <td>2017-12-31</td>
      <td>3051060</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1669597</th>
      <td>2017-12-31</td>
      <td>3320399</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1669598</th>
      <td>2017-12-31</td>
      <td>2013016</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1,15</td>
    </tr>
    <tr>
      <th>1669599</th>
      <td>2017-12-31</td>
      <td>3083799</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1669600</th>
      <td>2017-12-31</td>
      <td>2003713</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>0,998</td>
    </tr>
    <tr>
      <th>1669601</th>
      <td>2017-12-31</td>
      <td>3051071</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1669602</th>
      <td>2018-01-03</td>
      <td>2003706</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>6,515</td>
    </tr>
    <tr>
      <th>1669603</th>
      <td>2018-01-03</td>
      <td>2003713</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>0,946</td>
    </tr>
    <tr>
      <th>1669604</th>
      <td>2018-01-03</td>
      <td>2003711</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1,615</td>
    </tr>
    <tr>
      <th>1669605</th>
      <td>2018-01-03</td>
      <td>2003705</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>0,864</td>
    </tr>
    <tr>
      <th>1669606</th>
      <td>2018-01-03</td>
      <td>2003708</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>1,026</td>
    </tr>
    <tr>
      <th>1669607</th>
      <td>2018-01-03</td>
      <td>2003635</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>0,844</td>
    </tr>
    <tr>
      <th>1669608</th>
      <td>2018-01-03</td>
      <td>2011874</td>
      <td>1019</td>
      <td>Мясо, птица</td>
      <td>0,986</td>
    </tr>
  </tbody>
</table>
<p>1669609 rows × 5 columns</p>
</div>

In [9]:
storehouse = pandas.read_csv('storehouse_available.csv', encoding='windows-1251')

In [10]:
storehouse.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Дата</th>
      <th>Сырье/Товар ID</th>
      <th>Наличие, %</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-01-31</td>
      <td>4007981</td>
      <td>100</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-01-14</td>
      <td>4007981</td>
      <td>97,953295381553</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-01-15</td>
      <td>4007981</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-01-16</td>
      <td>4007981</td>
      <td>100</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-01-17</td>
      <td>4007981</td>
      <td>7,5930722994054</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
# выберем мясо птицы, его много
meat = items_clear[items_clear['item_category_name'] == 'Мясо, птица']
print(meat.shape)
meat.head()

(435195, 5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>item_id</th>
      <th>item_category_id</th>
      <th>item_category_name</th>
      <th>item_cnt_day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2015-01-31</td>
      <td>3184297</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>35</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2015-01-31</td>
      <td>3193219</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>30</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2015-01-31</td>
      <td>3185186</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>12</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2015-01-31</td>
      <td>3184317</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>22</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2015-01-31</td>
      <td>2003721</td>
      <td>001019</td>
      <td>Мясо, птица</td>
      <td>65,268</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
# а может стирка?
laundry = items_clear[items_clear['item_category_name'] == 'Стирка и уход за бельем']
print(laundry.shape)
laundry.head()

(325185, 5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>item_id</th>
      <th>item_category_id</th>
      <th>item_category_name</th>
      <th>item_cnt_day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2015-02-06</td>
      <td>3071950</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2015-01-31</td>
      <td>3197313</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2015-01-05</td>
      <td>3039167</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>9</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2015-01-05</td>
      <td>3145590</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>6</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2015-01-05</td>
      <td>3145614</td>
      <td>004002</td>
      <td>Стирка и уход за бельем</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
min_date = min(items_clear['date'])
print(min_date)
max_date = max(items_clear['date'])
print(max_date)

2015-01-03
2018-01-03

In [14]:
items_list = items.drop_duplicates(subset=['item_id'])[['item_id', 'item_name', 'smth1', 'item_category_id', 'item_category_name', 'item_category_id_addon', 'item_category_name_addon']]                    
print(items_list.shape)

(4871, 7)

In [15]:
from dateutil.rrule import rrule, DAILY
from datetime import datetime
start_date = datetime(2015, 1, 3)
end_date = datetime(2018, 1, 3)
dates = list(rrule(freq=DAILY, dtstart=start_date, until=end_date))
str_dates = [date.strftime('%Y-%m-%d') for date in dates]

In [16]:
list(items_list.iloc[1])

[3184297,
 'Филе Индолина инд.охл.700г шт',
 'Охлажденное мясо',
 '001019',
 'Мясо, птица',
 '001019004',
 'Мясо птицы охлажденное и замороженное']

In [17]:
def combine(items_list_, dates_):
    list_of_lists = []
    for i in range(len(dates_)):
        for j in range(items_list_.shape[0]):
            A = list(items_list.iloc[j]) + [0, 0, 0, 0, 0, dates_[i], 0,0]
            list_of_lists.append(A)
    return pandas.DataFrame(list_of_lists, columns=['item_id', 'item_name', 'smth1', 'item_category_id', 'item_category_name', 'item_category_id_addon', 'item_category_name_addon', 'action1', 'action2', 'action3', 'action4', 'return', 
     'date', 'item_cnt_day', 'income'])

zeroes = combine(items_list, str_dates)
zeroes.to_csv('fill.csv')

In [18]:
items_with_zeroes = pandas.concat([items, zeroes])
items_with_zeroes.to_csv('result.csv')

In [22]:
print(items_with_zeroes.shape[0], items.shape[0] + zeroes.shape[0])

7013096 7013096

In [23]:
items_with_zeroes.sort_values(by=['date'], inplace=True)

In [25]:
min_category_id = min(int, items_clear['item_category_id'])
max_category_id = max(items_clear['item_category_id'])
print(min_category_id, max_category_id)

ValueError: invalid literal for int() with base 10: '#'